<mdc-top-app-bar class="top-app-bar" fixed dense>
	<mdc-top-app-bar-row class="title-bar">
		<mdc-top-app-bar-section class="start-section" align="start">
			<div class="icon"></div>
			<p>
				Maki Music Player
				<span style="opacity: 0.5; margin-left: 8px;">mmp (dev)</span>
			</p>
		</mdc-top-app-bar-section>
		<mdc-top-app-bar-section align="end">
			<button mdcTopAppBarNavIcon (click)="changeWindow('minimize')">
				<mdc-icon>minimize</mdc-icon>
			</button>
			<button mdcTopAppBarNavIcon (click)="changeWindow('maximize')">
				<mdc-icon>{{
					maximized ? "filter_none" : "crop_square"
				}}</mdc-icon>
			</button>
			<button mdcTopAppBarNavIcon (click)="changeWindow('close')">
				<mdc-icon>close</mdc-icon>
			</button>
		</mdc-top-app-bar-section>
	</mdc-top-app-bar-row>
	<!-- <mdc-top-app-bar-row>
		<mdc-top-app-bar-section align="start">
			<button mdcTopAppBarNavIcon (click)="drawer.open = !drawer.open">
				<mdc-icon>menu</mdc-icon>
			</button>
		</mdc-top-app-bar-section>
	</mdc-top-app-bar-row> -->
</mdc-top-app-bar>
<mdc-drawer class="drawer" #drawer>
	<mdc-drawer-content>
		<mdc-list dense>
			<ng-container *ngFor="let item of drawerItems">
				<mdc-list-divider *ngIf="item.divider"></mdc-list-divider>
				<mdc-list-item
					*ngIf="!item.divider"
					[routerLink]="item.link"
					[activated]="itemRef.isActive"
					#itemRef="routerLinkActive"
					routerLinkActive
				>
					<mdc-icon mdcListItemGraphic>{{ item.icon }}</mdc-icon>
				</mdc-list-item>
			</ng-container>
		</mdc-list>
	</mdc-drawer-content>
</mdc-drawer>
