<div class="container-fluid" class="home">
	<div class="row align-items-center">
		<div class="col-md-5" style="padding-left: auto;">
			<div class="album"></div>
		</div>
		<div class="col-md">
			<h1>Lullaby<br /><span>Snail's House</span></h1>
			<br />
			<mdc-slider
				class="slider"
				min="0"
				max="100"
				value="50"
			></mdc-slider>
			<p class="slider-text">1:46 / 3:32</p>
			<br />
			<button mdc-fab mini>
				<mdc-icon>play_arrow</mdc-icon>
			</button>
			<button mdc-fab mini>
				<mdc-icon>stop</mdc-icon>
			</button>
		</div>
	</div>
</div>
